<%- include('header'); -%>
<body>
  <a href="/login/auth/fb">Đăng nhập bằng fb</a>
  <a href="/login/auth/gg">Đăng nhập bằng gg</a>
  <div class="homepage" id="vertex-container">
    <section class="smart-scroll">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="d-md-none navbar-brand heading-black" href="/">
          <img
            class="img-logo"
            src="https://lh3.googleusercontent.com/HuIRLHuScbAkfYUeYBGeczSPnhnGEamaQoidz9ohkkm6PkPxYUiOD6XI3oryNNdgMveIEzAR4GZkSa6TEPR89D0l=s320"
          />
        </a>
        <button
          class="navbar-toggler navbar-toggler-right border-0"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse nav-wrapper" id="navbarCollapse">
          <div class="container-fluid header-nav" id="header-nav">
            <ul class="head-nav text-center mb-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/posts?category=health">health</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/posts?category=fashion">fashion</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/posts?category=travel">travel</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/posts?category=business">business</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>

    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto col-sm-12 middle-section">
          <% if (posts) { posts.forEach(post=>{%>
          <div class="row blog-box">
            <div
              class="col-md-6 col-sm-12 blog-img"
              style="
                background-image: url('https://lh3.googleusercontent.com/Az8O1joDKXlBimLQhApnTPMTNuFvLl6dCtykvvT1TonlExbPxRwVVpDBw4lrpo8z63m4_bzo-WOux4AHexIxPmlcXw=s1080');
              "
            >
              <a href="/post/work-at-a-modern-office-zznyq4"></a>
            </div>
            <div class="col-md-6 col-sm-12 position-relative">
              <div class="ml-4 blog-content">
                <a href="/post/work-at-a-modern-office-zznyq4"
                  ><h3><%= post.title%></h3></a
                >
                <p class="font-sm">
                  <span style="text-transform: uppercase" class="cat"
                    ><i class="far fa-image mr-2"></i><%= post.authorId%></span
                  >
                  - <%= post.createdAt%>
                </p>
                <div><%- post.description%></div>

                <a href="/posts/<%= post.id %>" class="link-blue"
                  >Continue reading <i class="fas fa-chevron-right"></i
                ></a>
              </div>
            </div>
          </div>
          <% }) } %>
        </div>
      </div>
    </div>
  </div>
</body>
<%- include('footer'); -%>
